*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Custom Color and Fonts */

:root {

	/* Color */
	--clr-dark: rgb(44, 51, 51);
	--clr-accent-dark: rgb(57, 91, 100);
	--clr-accent-light: rgb(165, 201, 202);
	--clr-light: rgb(231, 246, 242);
	--clr-white: #fff;

	/* Fonts */

	--fnt-300: 300;
	--fnt-400: 400;
	--fnt-500: 500;
	--fnt-700: 700;
}

/* Basic Styles */

html {
	font-family: oswald;
	scroll-behavior: smooth;
}

img {
	display: block;
	width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h2 {
	font-weight: var(--fnt-700);
}

/* Home Section */

.home {
	background: url(images/background2.png);
	background-position: center;
	background-size: cover;
	min-height: 100vh;
	/* min-height: 850px;
	max-height: 100vh; */
	padding: 1rem 1rem 2rem;
} 

header {
	display: flex;
	justify-content: center;
}

nav {
	display: flex;
	justify-content: center;
	padding: .5rem 2rem;
	margin: 0 .3rem;
	position: fixed;
  	top: 0;
  	background: #e8e5e480;
  	border-radius: 0px 0px 20px 20px;
  	z-index: 1000;
}

nav ul {
	display: flex;
	flex-wrap: wrap;
	gap: 1.25rem;
	list-style: none;
}

nav li a {
	text-decoration: none;
	font-size: 1.2rem;
	color: var(--clr-dark);
	text-transform: uppercase;
	font-weight: var(--fnt-500);
}

nav li a:hover {
	color: var(--clr-white);
}

@media (max-width: 350px) {
	nav li a {
		font-size: .85rem;
	}
}

.profile-image {
	max-width: 450px;
	border-radius: 50%;
	border: 5px solid var(--clr-white);
	margin: 5rem auto 2rem;
}

.home h2,
.home p {
	text-transform: uppercase;
	text-align: center;
	padding: 0 1rem;
}

.home h2 {
	color: var(--clr-white);
	font-size: 2.5rem;
}

.home p {
	color: var(--clr-accent-light);
	margin: 1rem 0;
	font-size: 1.5rem;
}

.icons-ul {
	display: flex;
	justify-content: center;
	gap: 1.5rem;
	list-style: none;
}

.icons-ul .fa-brands {
	color: var(--clr-accent-light);
	font-size: 2rem;
	transition: ease-in-out 250ms;
}

.icons-ul .fa-brands:hover {
	color: var(--clr-white);
	transform: translateY(10px) scale(1.2);
}


/* About Me */

.about {
	background: var(--clr-dark);
	padding: 4rem 0;
}

.about-flex-container {
	display: flex;
	gap: 5rem;
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

.about img {
	max-width: 500px;
	min-width: 400px;
}

.about-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 10px;
}

.about h3 {
	font-size: 1.5rem;
	color: var(--clr-light);
}

.about h2 {
	font-size: 2.5rem;
	color: var(--clr-accent-light);
	padding-bottom: 1.5rem;
	border-bottom: 2px solid var(--clr-accent-light);
	max-width: 200px;
}

.about h2,
.about h2 span {
	text-transform: uppercase;
}

.about p {
	color: var(--clr-white);
	font-size: 1.25rem;
	font-weight: var(--fnt-300);
	margin: 1rem 0;
}

/* Button Border Radius */

:root {
	--connect-btn-radius: 6px;
}

.connect-btn {
	position: relative;
	color: var(--clr-white);
	padding: 10px 25px;
	border-radius: var(--connect-btn-radius);
	text-decoration: none;
	font-size: 1.15rem;
	text-transform: uppercase;
  	transition: 250ms ease-in-out;
  	overflow: hidden;
  	z-index: 1;
}

.connect-btn::before {
	content: '';
	display: block;
	position: absolute;
	inset: 0;
	background: var(--clr-accent-light);
	border-radius: var(--connect-btn-radius);
	z-index: -2;
}

.connect-btn::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0px;
	background: var(--clr-accent-dark);
	z-index: -1;
	border-radius: var(--connect-btn-radius);
	transition: ease-in-out 250ms;
	transform-origin: left;
}

.connect-btn:hover::after {
	width: 100%;
}

@media (max-width: 950px) {
	.about {
		padding-top: 1rem;
	}
	.about-flex-container {
		flex-direction: column;
		gap: 1rem;
	}

	.about img {
		width: 100%;
		height: 20rem;
		object-fit: cover;
		object-position: 50% 10%;
		max-width: unset;
		min-width: unset;
	}

	.about p {
		padding-bottom: 1rem;
	}
}

/* My Work Section */

.my-work {
	background: linear-gradient(150deg, var(--clr-accent-dark) 40%, var(--clr-dark) 100%);
	padding: 2.5rem 0;
}

.my-work h2 {
	position: relative;
	font-size: 2.5rem;
	color: var(--clr-dark);
	text-transform: uppercase;
	width: 175px;
	margin-bottom: 1rem;
}

.my-work h2::after {
	display: block;
	content: '';
	position: absolute;
	width: 3px;
	height: 20px;
	background: var(--clr-white);
	top: 0;
	right: 0;
	height: 100%;
}

.my-work p {
	color: var(--clr-white);
	font-size: 1.25rem;
	font-weight: var(--fnt-300);
}

.my-work-section {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

.portfolio {
	display: grid;
	margin: 1rem auto;
	grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr)); 
	gap: 15px;
}

.portfolio-item {
	overflow: hidden;
	transition: ease-in-out 250ms;
}

.portfolio-item:hover {
	box-shadow: 5px 5px 0px 0px var(--clr-white);
}

.portfolio-image {
	max-width: 100%;
	transition: ease-in-out 0.7s;
}

.portfolio-image:hover {
	transform: scale(1.2);
}

/* Resume Section */

.resume-section {
	background: var(--clr-dark);
	padding: 3rem 0;
}

.main-content h2 {
	font-size: 1.5rem;
	font-style: italic;
}

.resume {
		width: 90%;
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		color: var(--clr-white);
	}

	.side-bar-content {
		display: flex;
		align-items: center;
		padding-left: 1rem;
		margin: 1rem 0;
	}

	.profile-picture {
		width: 15rem;
		max-width: 100%;
		border-radius: 50%;
		display: flex;
		margin: 1rem auto;
		border: 4px solid var(--clr-white);
		text-decoration: none;
	}

	.left-content {
		padding: 0 1rem;
	}

	.h5-left {
		font-size: 1.2rem;
	}

	.resume-paragraph-left {
		text-align: left;
		font-size: 1rem;
		margin: 0 .75rem;
		color: var(--clr-white);
	}

	.side-bar {
		color: white;
		background: var(--clr-accent-light);
		padding: 0 1rem;
	}

	.main-content {
		background: var(--clr-accent-dark);
		padding: 2rem;
	}

	.h1-resume {
		font-size: 2.25rem;
		font-weight: 800;
		text-transform: uppercase;
	}

	.h1-resume::after {
		content: '';
		display: block;
		width: 11.5rem;
		height: 5px;
		margin: .2rem 0 1rem;
		background: var(--clr-accent-light);
	}

	.h3-resume {
		font-size: 1.2rem;
		border-bottom: 1px solid var(--clr-accent-light);
		padding-bottom: .5rem;
		margin: 1rem 0;
	}

	.h4-resume {
		font-size: 1rem;
		font-style: italic;
		padding-bottom: .5rem;
		color: var(--clr-white);
	}

	.resume h1,
	.resume h2,
	.resume h3,
	.resume h4,
	.resume h5,
	.resume h6 {
		font-family: oswald, verdana, helvetica;
	}

	.experience {
		margin: .5rem 0;
	}

	.paragraph-resume {
		width: 90%;
		font-size: 1rem;
		font-weight: var(--fnt-300);
		margin: 0 0 .5rem;
	}

	.resume-right {
		margin-top: 1rem;
	}

	.h3-resume-mobile,
	.p-resume-mobile {
			display: none;
	}

	.title-section {
		margin-bottom: 2rem;
	}

	.job-title-section {
		margin: 1rem 0;
	}


	@media (max-width: 920px){
		.resume {
			display: flex;
			flex-direction: column;
		}

		.h1-resume,
		.h2-resume,
		.h1-resume::after {
			display: none;
		}

		.h3-resume-mobile,
		.p-resume-mobile {
			display: block;
			text-align: center;
			margin: 0 auto .5rem;
			
		}

		.h3-resume-mobile {
			font-size: 1.3rem;
		}

		.p-resume-mobile {
			font-size: 1rem;
			margin-bottom: 1.5rem;
			width: 75%;
		}

		.h3-resume-mobile::after {
			content: '';
			display: block;
			width: 10rem;
			height: 2px;
			background: var(--clr-dark);
			margin: 0.5rem auto;
			opacity: 50%;
		}

	}





